@rendermode InteractiveServer
@inject IProductService ProductService

<div class="modal fade show" id="myModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload an XML</h4>
                <button type="button" class="close" @onclick="@ModalExit">&times;</button>
            </div>
            <div class="modal-body">
                <EditForm Model="@Model">
                    <div>
                        <b>
                            Here you can upload your products in bulk using XML.<br />
                            Here is the obligatory file structure:
                        </b><br /><br />
                        • Extension: .xml<br />
                        • Encoding: UTF-8 <br /><br />
                        &lt;Products&gt;<br />
                        &lt;Product&gt;<br />
                        &lt;ProductName&gt;Sample Product&lt;/ProductName&gt;<br />
                        &lt;Description&gt;Sample description&lt;/Description&gt;<br />
                        &lt;Quantity&gt;10&lt;/Quantity&gt;<br />
                        &lt;Price&gt;100.0&lt;/Price&gt;<br />
                        &lt;ImageUrl&gt;http://example.com/sample.jpg&lt;/ImageUrl&gt;<br />
                        &lt;/Product&gt;<br />
                        &lt;/Products&gt;<br /><br />
                        <p />

                        <div class="form-group">
                            <b><div for="fileUpload">Choose your XML file:</div></b><br />
                            <InputFile id="fileUpload" OnChange="HandleFileChange" accept=".xml" />
                        </div>

                        @if (!string.IsNullOrEmpty(fileErrorMessage))
                        {
                            <p class="text-primary">@fileErrorMessage</p>
                        }

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" @onclick="@ModalExit">Exit</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter] public EventCallback<Product> XMLUploaded { get; set; }

    private CreatePopUpViewModel Model { get; set; } = new CreatePopUpViewModel();
    private string fileErrorMessage = "";

    @inject IProductService ProductService

    private async Task HandleFileChange(InputFileChangeEventArgs e)
    {
        var file = e.File;
        if (file.ContentType != "application/xml" && !file.Name.EndsWith(".xml"))
        {
            fileErrorMessage = "Please upload a valid XML file.";
            return;
        }

        fileErrorMessage = "";

        using var stream = file.OpenReadStream();
        var reader = new StreamReader(stream);
        var xmlContent = await reader.ReadToEndAsync();

        var products = ParseXmlToProducts(xmlContent);

        var result = await ProductService.BulkCreateProductsAsync(products);

        if (result.StartsWith("Success"))
        {
            fileErrorMessage = "Products uploaded successfully!";
        }
        else
        {
            fileErrorMessage = result;
        }
    }

    private List<Product> ParseXmlToProducts(string xmlContent)
    {
        var products = new List<Product>();

        var xDoc = XDocument.Parse(xmlContent);
        var productElements = xDoc.Descendants("Product");

        foreach (var productElement in productElements)
        {
            var product = new Product
                {
                    ProductName = productElement.Element("ProductName")?.Value,
                    Description = productElement.Element("Description")?.Value,
                    Quantity = int.Parse(productElement.Element("Quantity")?.Value ?? "0"),
                    Price = double.Parse(productElement.Element("Price")?.Value ?? "0.0"),
                    ImageUrl = productElement.Element("ImageUrl")?.Value
                };
            products.Add(product);
        }

        return products;
    }

    private Task ModalExit()
    {
        return XMLUploaded.InvokeAsync(null);
    }

}

