@page "/counter"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin,User")]
<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<AuthorizeView Roles="Admin">
    <Authorized>
        <h2>hettar Kann bara Admin síggja</h2>
    </Authorized>
</AuthorizeView>



<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
