@import '_content/Blazored.Modal/Blazored.Modal.bundle.scp.css';

/* _content/E-CommerceStore.WebApp/Components/Component/ComponentproductSlider.razor.rz.scp.css */
/* Container for the entire slider to ensure no horizontal scrollbar */
.slider-container[b-t06ood64ar] {
    overflow: hidden; /* Hide the horizontal scrollbar */
    width: 100%;
    position: relative;
}

/* The actual block of products that scrolls */
.slider-products-block[b-t06ood64ar] {
    display: flex;
    overflow-x: hidden; /* Allow internal scrolling but controlled by arrow buttons */
    scroll-behavior: smooth;
    padding: 20px 0;
}

/* Product item containers */
.item-container[b-t06ood64ar] {
    margin: 0 30px; /* Increase value to adjust spacing between items */
    flex-shrink: 0;
    background: #3f51b5;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .item-container:hover[b-t06ood64ar] {
        cursor: pointer;
        transform: translateY(-10px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }

/* Arrow button styling */
.slider-arrow-button[b-t06ood64ar] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2rem; /* Set the font size to adjust the height of the arrow */
    padding: 4; /* Remove padding to avoid unnecessary spacing */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 20%;
    height: 50px; /* Total height of the button */
    width: 50px; /* Total width of the button */
    display: flex;
    align-items: stretch;
    justify-content: center;
}

    .slider-arrow-button:hover[b-t06ood64ar] {
        background-color: #555;
    }


.slider-left-arrow[b-t06ood64ar] {
    left: 0; /* Position the left arrow on the left edge */
    margin-top: auto;
}

.slider-right-arrow[b-t06ood64ar] {
    right: 0; /* Position the right arrow on the right edge */
    margin-top: auto;
}


.item-image[b-t06ood64ar] {
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
    width: 220px;
    height: 230px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-info[b-t06ood64ar] {
    text-align: center;
}

.item-name[b-t06ood64ar] {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #ffeb3b;
    font-weight: bold;
}

.item-price[b-t06ood64ar] {
    font-size: 1.2rem;
    color: #e1f5fe;
    font-weight: bold;
}
/* _content/E-CommerceStore.WebApp/Components/Component/MiniCartComponent.razor.rz.scp.css */
.mini-cart-container[b-xz2wqud29u] {
    width: 100%; 
    max-width: 600px; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    color: #333;
    overflow-x: hidden; 
    margin: 0 auto; 
}

.mini-cart-header[b-xz2wqud29u] {
    text-align: center;
    margin-bottom: 15px;
}

.mini-cart-title[b-xz2wqud29u] {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.mini-cart-list[b-xz2wqud29u] {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mini-cart-item[b-xz2wqud29u] {
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc; 
    margin-bottom: 15px;
}

    .mini-cart-item:last-child[b-xz2wqud29u] {
        border-bottom: none; 
    }

.mini-cart-item-content[b-xz2wqud29u] {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.mini-cart-item-image[b-xz2wqud29u] {
    width: 110px; 
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mini-cart-item-info[b-xz2wqud29u] {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left:5px;
}

.mini-cart-item-name[b-xz2wqud29u] {
    font-weight: bold;
    font-size: 16px;
    color: #444;
}

.quantity-input[b-xz2wqud29u] {
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.mini-cart-item-quantity[b-xz2wqud29u] {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: bold; 
    color: #333; 
}

.mini-cart-item-price[b-xz2wqud29u] {
    font-size: 16px; 
    font-weight: bold; 
    color: #444; 
}


.remove-button[b-xz2wqud29u] {
    background-color: #e52f08;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
    transition: background-color 0.3s ease;
}

    .remove-button:hover[b-xz2wqud29u] {
        background-color: #d11a2a;
    }

.mini-cart-footer[b-xz2wqud29u] {
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.mini-cart-total[b-xz2wqud29u] {
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

.mini-cart-empty[b-xz2wqud29u] {
    text-align: center;
    font-size: 14px;
    color: #888;
}
/* _content/E-CommerceStore.WebApp/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-9k90snoydv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-9k90snoydv] {
    flex: 1;
}

.sidebar[b-9k90snoydv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-9k90snoydv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-9k90snoydv]  a, .top-row[b-9k90snoydv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-9k90snoydv]  a:hover, .top-row[b-9k90snoydv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-9k90snoydv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-9k90snoydv] {
        justify-content: space-between;
    }

    .top-row[b-9k90snoydv]  a, .top-row[b-9k90snoydv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-9k90snoydv] {
        flex-direction: row;
    }

    .sidebar[b-9k90snoydv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-9k90snoydv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-9k90snoydv]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-9k90snoydv], article[b-9k90snoydv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-9k90snoydv] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-9k90snoydv] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/E-CommerceStore.WebApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-zt64dcblin] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-zt64dcblin] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-zt64dcblin] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zt64dcblin] {
    font-size: 1.1rem;
}

.bi[b-zt64dcblin] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-zt64dcblin] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-zt64dcblin] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-zt64dcblin] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.nav-item[b-zt64dcblin] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zt64dcblin] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zt64dcblin] {
        padding-bottom: 1rem;
    }

    .nav-item[b-zt64dcblin]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-zt64dcblin]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-zt64dcblin]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-zt64dcblin] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-zt64dcblin] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-zt64dcblin] {
        display: none;
    }

    .nav-scrollable[b-zt64dcblin] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/E-CommerceStore.WebApp/Components/Pages/Home.razor.rz.scp.css */
/* Container for the entire slider to ensure no horizontal scrollbar */
.slider-container[b-u1j3xcl4vu] {
    overflow: hidden; /* Hide the horizontal scrollbar */
    width: 100%;
    position: relative;
}

/* The actual block of products that scrolls */
.slider-products-block[b-u1j3xcl4vu] {
    display: flex;
    overflow-x: hidden; /* Allow internal scrolling but controlled by arrow buttons */
    scroll-behavior: smooth;
    padding: 20px 0;
}

/* Product item containers */
.item-container[b-u1j3xcl4vu] {
    margin: 0 30px; /* Increase value to adjust spacing between items */
    flex-shrink: 0;
    background: #3f51b5;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

    .item-container:hover[b-u1j3xcl4vu] {
        transform: translateY(-10px);
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
    }

/* Arrow button styling */
.slider-arrow-button[b-u1j3xcl4vu] {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 2rem; /* Set the font size to adjust the height of the arrow */
    padding: 4; /* Remove padding to avoid unnecessary spacing */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 20%;
    height: 50px; /* Total height of the button */
    width: 50px; /* Total width of the button */
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.slider-arrow-button:hover[b-u1j3xcl4vu] {
    background-color: #555;
}


.slider-left-arrow[b-u1j3xcl4vu] {
    left: 0; /* Position the left arrow on the left edge */
    margin-top: auto;

}

.slider-right-arrow[b-u1j3xcl4vu] {
    right: 0; /* Position the right arrow on the right edge */
    margin-top: auto;
}

/* Styling for product images */
.item-image[b-u1j3xcl4vu] {
    border-radius: 10px;
    background-color: white;
    object-fit: contain;
    width: 220px;
    height: 230px;
    margin-bottom: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.item-info[b-u1j3xcl4vu] {
    text-align: center;
}

.item-name[b-u1j3xcl4vu] {
    font-size: 1.1rem;
    margin-bottom: 10px;
    color: #ffeb3b;
    font-weight: bold;
}

.item-price[b-u1j3xcl4vu] {
    font-size: 1.2rem;
    color: #e1f5fe;
    font-weight: bold;
}
