@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager

<div class="logout-bg-container">
    <div class="logout-bg-img"/>
</div>


@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
            NavigationManager.NavigateTo("/logout", true);
        }
    }
}
