@page "/RegistrationPage"
@rendermode InteractiveServer
@using System.ComponentModel.DataAnnotations
@using E_CommerceStore.WebApp.Components.Pages.AccountPages.ViewModel
@inject IAccountsService AccountsService
@inject NavigationManager NavigationManager

<div class="register-container">
    <div class="register-card">
        <h3 style="color: #2f27ce; text-align: center;">REGISTER</h3>
        <EditForm Model="newAccount" OnValidSubmit="HandleValidSubmit" FormName="registration">
            <DataAnnotationsValidator />

            <div class="form-group">
                <label>Account Name</label>
                <InputText @bind-Value="newAccount.AccountName" class="form-control" />
                <ValidationMessage For="@(() => newAccount.AccountName)" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="newAccount.AccountEmail" class="form-control" />
                <ValidationMessage For="@(() => newAccount.AccountEmail)" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="newAccount.AccountPassword" type="password" class="form-control" />
                <ValidationMessage For="@(() => newAccount.AccountPassword)" />
            </div>

            <button type="submit" class="loginbutton">Register</button>
        </EditForm>
    </div>
</div>

@code {
    private CreateUserViewModel newAccount = new CreateUserViewModel();

    private async Task HandleValidSubmit()
    {
        var account = new Account
            {
                AccountName = newAccount.AccountName,
                AccountEmail = newAccount.AccountEmail,
                AccountPassword = newAccount.AccountPassword,
                Role = newAccount.Role
            };

        await AccountsService.CreateAccountAsync(account);
        NavigationManager.NavigateTo("/AccountManagement", true);
    }
}