@page "/TwoFactorAuthentication/{AccountId:int}"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAccountsService AccountsService
@inject NavigationManager NavigationManager
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
@using global::Components.Pages.AccountPages.ViewModel

<div class="register-container">
    <div class="centered-container">
        <div class="twofactor">
            <h3>Two-Factor Authentication</h3>

            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <p class="text-danger">@ErrorMessage</p>
            }

            <EditForm Model="@model" OnValidSubmit="@ValidateCode" FormName="TwoFactor">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <div>
                    <label>Enter the code sent to your email:</label>
                    <InputNumber @bind-Value="model.TwoFactorNum" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </EditForm>
        </div>
    </div>
</div>


@code
{
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    [SupplyParameterFromForm]
    private TwoFactorForm model { get; set; } = new TwoFactorForm();

    [Parameter]
    public required int AccountId { get; set; }

    public Account userAccount { get; set; }
    private string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        userAccount = (await AccountsService.GetAllAccountsAsync()).First(s=>s.AccountId == AccountId);
    }
    private async Task ValidateCode()
    {
        if (int.TryParse(userAccount.TwoFactorID, out int twoFactorID) && model.TwoFactorNum == twoFactorID)
        {
            var claims = new List<Claim>
            {
                new Claim(ClaimTypes.NameIdentifier, userAccount.AccountId.ToString()),
                new Claim(ClaimTypes.Name, userAccount.AccountName),
                new Claim(ClaimTypes.Role, userAccount.Role)
            };

            var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var principal = new ClaimsPrincipal(identity);

            await HttpContext.SignInAsync(principal);
            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        else
        {
            NavigationManager.NavigateTo("/Login", forceLoad: true);
        }
    }
}


