@page "/TwoFactorSuccess"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAccountsService AccountsService
@inject NavigationManager NavigationManager
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies

<div class="bg-success">
    <div class="success-bg-jpg" />
</div>


@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/logout", true);
        }
    }
}
