<footer class="footer">
    <div class="footer-links">
        <div class="footer-column">
            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Contact Us*
                </NavLink>
            </p>

            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Company Information*
                </NavLink>
            </p>

            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Warranty & Returns*
                </NavLink>
            </p>

            <div style="font-size: 12px; color: #fbfbfe;">*All of these are just mock-up links.</div>
        </div>

        <div class="footer-column">

            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Our History*
                </NavLink>
            </p>

            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Regulations*
                </NavLink>
            </p>

            <p>
                <NavLink class="footertext" href="LoremIpsum" Match="NavLinkMatch.All">
                    Privacy Policy*
                </NavLink>
            </p>

        </div>
    </div>
    <div class="footer-payment">
        <div class="footertext">Payment methods:</div>
        <img src="assets/mastercardlogo.png" alt="Mastercard Logo" class="payment-logo">
        <img src="assets/bitcoinlogo.png" alt="Mastercard Logo" class="payment-logo">
    </div>
</footer>