<header style="background-color: #2f27ce; width: 100%;">
    <div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
                <nav class="navbar d-flex justify-content-between align-items-center" style="width: 100%; padding: 10px;">
            
            <div class="logo-container" style="flex: 0 1 auto;">
                <NavLink href="">
                    <img src="assets/logo.png" alt="Logo" style="height: 40px; width: 200px; object-fit: cover;" />
                </NavLink>
            </div>
            
            <div>
                <NavLink class="nav-link text-white" href="Inventory">
                    <span class="bi bi-list-nested" aria-hidden="true"></span> Products
                </NavLink>
            </div>
            <AuthorizeView Roles="Admin">
                <div>
                    <NavLink class="nav-link text-white" href="AccountManagement">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> Account Management
                    </NavLink>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Admin,User">
                <div>
                    <NavLink class="nav-link text-white" href="Profile">
                        <span class="bi bi-person-fill" aria-hidden="true"></span> User Profile
                    </NavLink>
                </div>
            </AuthorizeView>
            <div class="search-container" style="flex: 1; display: flex; justify-content: right; margin-right: 25px;">
                
            </div>
            
            <div class="icons-container d-flex align-items-center">
                <AuthorizeView>
                    <NotAuthorized>
                        <a href="RegistrationPage" class="text-white" style="text-decoration: none;">Register</a>
                    </NotAuthorized>
                </AuthorizeView>

                <AuthorizeView>
                    <NotAuthorized>
                        <a href="login" class="text-white" style="text-decoration: none;">Login</a>
                    </NotAuthorized>
                    <Authorized>
                        <a href="logout" class="text-white" style="text-decoration: none;">Logout</a>
                    </Authorized>

                </AuthorizeView>

            <a href="/ShoppingCart">
                <img src="assets/cart.png" class="header-icons" alt="Cart" />
            </a>
            </div>
        </nav>
    </div>
</header> 